java/oreilly/time-server/timeServer.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://localhost:9876/ts/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="timeServer" targetNamespace="http://localhost:9876/ts/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://localhost:9876/ts">
      <xsd:element name="getTimeAsString">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getTimeAsStringResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getTimeForGMT" type="xsd:integer"></xsd:element>
      <xsd:element name="getTimeForGMTResponse" type="xsd:string"></xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getTimeAsString">
    <wsdl:part element="tns:getTimeAsString" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getTimeAsStringResponse">
    <wsdl:part element="tns:getTimeAsStringResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="getTimeForGMTRequest">
  	<wsdl:part name="getTimeForGMTRequest" element="tns:getTimeForGMT"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="getTimeForGMTResponse">
  	<wsdl:part name="getTimeForGMTResponse" element="tns:getTimeForGMTResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="timeServer">
    <wsdl:operation name="getTimeAsString">
      <wsdl:input message="tns:getTimeAsString"/>
      <wsdl:output message="tns:getTimeAsStringResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getTimeForGMT">
    	<wsdl:input message="tns:getTimeForGMTRequest"></wsdl:input>
    	<wsdl:output message="tns:getTimeForGMTResponse"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TimeServerImplPortBinding" type="tns:TimeServer">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getTimeAsString">
      <soap:operation soapAction="http://localhost:9876/ts/getTimeAsString"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTimeForGMT">
      <soap:operation soapAction="http://localhost:9876/ts/getTimeForGMT"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TimeServerImplService">
    <wsdl:port binding="TimeServerImplPort" name="TimeServerImplPort">
      <soap:address location="http://localhost:9876/ts"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
